{
  "plugins": [
    ["babel-plugin-styled-components", { "displayName": false }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
