@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
html {
  overflow: hidden;
}
.geo-pattern {
  background-image: url('./assets/img/geo.svg');
  background-size: 300px;
}